/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

ol.solr_sort2 {
	background: #ffffff !important;
	text-decoration: none !important;
	border: 1px solid #cccccc !important;
	padding: 2px 0 1px !important;
	float: right !important;
	list-style-type:none
}
.solr_sort2 li {
	display: block !important; /* FF3 */
	padding: 2px 2px 2px 4px !important;
}
.solr_sort2 li:hover {
	background: #efffb0 !important;
}
.solr_sort2 a {
	text-decoration: none !important;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
